<black-header></black-header>

<div class="pass_or_favorite_index_header" ng-show="$ctrl.favorites.length>0">
  <h3 class="pass_or_favorite_index_header">Your Favorites</h3>
  <h4 class="pass_or_favorite_index_header">click one for adoption information</h4>
</div>

<div class="pass_or_favorite_index_header" ng-show="$ctrl.favorites.length==0">
  <h4>you haven't favorited any pets</h4>
  <button class="big_black_buttons" ui-sref="petSearch">get started</button>
</div>

<div class="passed_or_favorited_pets_container">
<div ng-repeat="favorite in $ctrl.favorites | orderBy:'-created_at' | limitTo : 40">
  <div class="each_favorited_or_passed_pet" style="background-image: url({{favorite.pet.photo}})" ui-sref="petShow({id: favorite.pet_id})">
      <button class="big_black_buttons">{{favorite.pet.name}}</button>
      <!-- <img ng-src="{{pass.pet.photo}}"> -->
  </div>
</div>
</div>

<footer-nav></footer-nav>
