<section class="window" id="window-1">
<header-nav></header-nav>

<div class="pet_search_top_messages">
  <p class="liked_or_passed_message" ng-show="$ctrl.lastPetLikedMessage">&hearts;{{$ctrl.lastPetLikedMessage}}</p>
  <p class="liked_or_passed_message" ng-show="$ctrl.lastPetPassedMessage"><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{$ctrl.lastPetPassedMessage}}</p>
  <p class="how_does_it_work_link" ui-sref="landingPage({'#': 'window-2'})"><i class="fa fa-question-circle" aria-hidden="true"></i> How does it work</p>
</div>

<div class="search_pet_info" ui-sref="petShow({id: $ctrl.pet.id})">
  <h4 class="pet_search_name">{{$ctrl.pet.name}}</h4>
  <div class="swipe-box" md-swipe-left="$ctrl.passOnPet()" md-swipe-right="$ctrl.addFavorite()">
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    <img class="pet_search_image" ng-src={{$ctrl.pet.photo}}>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </div>
</div>
<div><footer-nav></footer-nav></div>
</section>

