<section class="window" id="window-1">

  <div ng-show="$ctrl.currentUser.id">
    <header-nav></header-nav>
  </div>

  <div ng-show="!$ctrl.currentUser.id">
    <p><a ui-sref="signIn">Sign in</a></p>
    <p><a ui-sref="userRegistration">Sign up</a></p>
  </div>

  <div class="landing_page_main">
    <div class="landing_page_main_image_container">
      <div class="cat_using_phone"></div>
      <h3>Helping four-legged friends find fur-ever homes</h3>
    </div>
    <div class="logo">
      <h1 class="home_page_logo">adoptr</h1>
    </div>
  </div>

  <div><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>How does it work?</div>
</section>

<section class="window" id="window-2">
  <div><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></div>
  <h3>Tell us what kind of pet you're looking for, and we'll show you adoptable animals near you</h3>
  <h4>Swipe right on your mobile device if you like the pet you're seeing, swipe left to see a different pet</h4>
  <h4>Use click, drag, drop if you're not using a touch-screen device</h4>

<!-- This is a swipe demo made with font awesome icons and css animations. I took a lot of guidance from the code in this codepen: https://codepen.io/CunningFatalist/pen/LEOpGB -->
  <div class="animations_container">
    <div class="each_animation">
      <div class="phone_image_container">
        <img class="dog_image" ng-src="http://www.freeiconspng.com/uploads/animal-pet-dog-icon-13.png">
        <div class="stage">
          <div class="swipe">
            <i class="fa fa-long-arrow-left"></i>
            <i class="fa fa-hand-o-up"></i>
            <i class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="each_animation">
      <div class="computer_image_container">
        <img class="cat_image" ng-src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Cat-icon.png">
        <div class="stage">
          <div class="swipe">
            <i class="fa fa-long-arrow-left"></i>
            <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>If you're lucky, the right pet will like you back</h3>
  </div>

  <div><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>About the Developer</div>
</section>

<section class="window" id="window-3">
  This is another window
</section>
