<section class="window" id="window-1">
  <header-nav></header-nav>
  <div class="landing_page_main">
    <div class="landing_page_main_image_container">
      <div class="dog_computer"></div>
      <h4 class="home_page_image_caption">helping four-legged friends find fur-ever homes</h4>
    </div>
    <div class="logo">
      <h1 class="home_page_logo">adoptr</h1>
    </div>
  </div>
  <div class="home_page_scroll_tag"><i class="fa fa-chevron-circle-down" aria-hidden="true" ui-sref="landingPage({'#': 'window-2'})"></i><span> how does it work?</span></div>
</section>

<section class="window" id="window-2">
  <div class="home_page_scroll_tag"><i class="fa fa-chevron-circle-up" aria-hidden="true" ui-sref="landingPage({'#': 'window-1'})"></i></div>
  <h3 class="how_it_works_headings">Tell us what kind of pet you're looking for, and we'll show you adoptable animals near you</h3>
  <div class="swipe_instructions how_it_works_details">
    <p>Swipe right on your mobile device if you like the pet you're seeing, swipe left to see a different pet</p>
    <p>Use click, drag, drop if you're not using a touch-screen device</p>
  </div>
  <!-- This is a swipe demo made with font awesome icons and css animations. I took a lot of guidance from the code in this codepen: https://codepen.io/CunningFatalist/pen/LEOpGB -->
  <div class="animations_container">
    <div class="each_animation">
      <div class="phone_image_container">
        <img class="dog_image" ng-src="http://www.freeiconspng.com/uploads/animal-pet-dog-icon-13.png">
        <div class="stage">
          <div class="swipe">
            <i class="fa fa-long-arrow-left"></i>
            <i class="fa fa-hand-o-up"></i>
            <i class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="each_animation">
      <div class="computer_image_container">
        <img class="cat_image" ng-src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Cat-icon.png">
        <div class="stage">
          <div class="swipe">
            <i class="fa fa-long-arrow-left"></i>
            <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  <h3 class="how_it_works_details">If you're lucky, the right pet will like you back</h3>
  </div>
  <!-- <div class="home_page_scroll_tag"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>   about the developer</div> -->
  <footer-nav></footer-nav>
</section>


<!-- <section class="window" id="window-3">
  This is another window
</section> -->
