/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.header_nav{
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .header_nav_links {
    text-decoration: none;
  }
}

#black_header{
  color: black;
/*  background-color: red;*/
}

.adoptr_nav_link{
  font-weight: 900;
  font-size: 20px;
}

.header_nav_links:hover{
  text-decoration: underline;
}

.error-messages {
  font-size: 13px;
  color: red;
}

.error {
  color: red;
}

.success {
  color: green;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

.github_link{
  font-size: 24px;
  color: black;
}

@media only screen and (max-width: 700px) {
  .header_nav{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .header_nav_links {
    margin: 0px;
    padding: 0px;
    font-size: 19px;
  }

  .window{
    height: default;
    min-height: 100vh;
    width: default;
    position: relative;
  }

  .footer{
    font-size: 14px;
    flex-direction: column;
  }

  .github_link{
    font-size: 40px;
  }

}



