// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#pet_show_window{
  color: white;
  justify-content: space-around;
}

.pet_show_main{
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pet_show_small_details{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pet_show_name{
  margin: 0;
  color: #D3D3D3;
  font-size: 45px;
}

.pet_show_image{
/*  width: 35vw;*/
max-height: 45vh;
border-radius: 4px;
border: 3px solid white;
}

.pet_show_photo_and_buttons_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  a:hover{
    text-decoration: underline;
  };
}

.pet_show_pass_favorite_buttons{
  width: 45vw;
/*  width: 260px;*/
  display: flex;
  justify-content: space-between;
}

.pet_show_favorites_message{
  display: flex;
  justify-content: space-between;
}

.remove_from_favorites_button:hover{
  text-decoration: underline;
}

.pet_show_description{
  font-size: 12px;
  max-height: 20vh;
}

.pet_show_contact_heading{
  text-align: center;
  font-size: 45px;
}

.adoption_contact_info{
  display: flex;
  justify-content: center;
  .petfinder_link{
    color: black;
  }
  .hide_adoption_contact_button_container{
    display: flex;
    justify-content: center;
  }
}

.big_black_buttons{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

.socialshare{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  div{
    margin-right: 10px;
    margin-left: 10px;
  }
}

.socialshare_links{
  font-size: 40px;
}

.chat_box{
  position: absolute;
  bottom: 0;
}

.chat_box_top{
  height: 55px;
  width: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_box_expanded{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 340px;
  width: 250px;
  background-color: #D3D3D3;
  .chat_box_inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .chat_input{
      width: 180px;
    }
  }
}

.pet_chat{
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  margin-right: 80px;
  width: 100px;
  background-color: blue;
}

.person_chat{
  border: 2px solid white;
  border-radius: 20px;
  background-color: green;
  color: white;
  margin-left: 120px;
  width: 100px;
}

@media only screen and (max-width: 700px) {
  .big_black_buttons{
    font-size: 50px;
  }
  .pet_show_name{
    font-size: 50px;
  }
  .pet_show_image{
    height: auto;
    width: 85vw;
  }
  .pet_show_main{
    font-size: 40px;
  }
  .pet_show_pass_favorite_buttons{
    flex-direction: column;
  }
  .pet_show_favorites_message{
    flex-direction: column;
  }
  .chat_box_container{
    display: none;
  }
  .socialshare{
    flex-direction: column;
    font-size: 55px;
  }
  .socialshare_links{
    font-size: 65px;
  }
  .adoption_contact_info{
    font-size: 40px;
  }
  .pet_show_description{
    font-size: 28px;
    max-height: 50vh;
}
}

