// Place all the styles related to the preferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user_registration_preferences_window{
  justify-content: space-around;
  color: white;
}


#registration_preferences_form_submit{
  margin-top: 60px;
}
