<h1>Your Account</h1>
{{$ctrl.user.email}}

<h4>Pet Search Preferences</h4>

<div ng-hide="$ctrl.isEditingPreferences">
  <button ng-click="$ctrl.isEditingPreferences=true">Edit</button>
  <p>
    Looking for:
    <span ng-show="$ctrl.user.preference.pet_type">{{$ctrl.user.preference.pet_type}}</span>
  </p>
  <p>Near zip code: {{$ctrl.user.preference.zip}}</p>
  <p>Age: {{$ctrl.user.preference.age}}</p>
  <p>Size: {{$ctrl.user.preference.size}}</p>
  <p>
    Sex:
    <span ng-show="$ctrl.user.preference.sex">{{$ctrl.user.preference.sex}}</span>
    <span ng-hide="$ctrl.user.preference.sex">Any</span>
  </p>
</div>
<div ng-show="$ctrl.isEditingPreferences">
  <form ng-submit="$ctrl.updatePreferences($ctrl.user.preference)" name="preferences" novalidate>
    <div>
      <p>I am a:</p>
      <input type="radio" value="human">Human
      <input type="radio" value="other">Other
    </div>

    <div>
    <p>Looking for:</p>
      <input type="radio" value="dog" ng-model="$ctrl.user.preference.pet_type">Dogs
      <input type="radio" value="cat" ng-model="$ctrl.user.preference.pet_type">Cats
      <input type="radio" value="all" ng-model="$ctrl.user.preference.pet_type">All
    </div>
    <div>
      <div>Near Zip Code:
        <input type="text" name="zip" ng-model="$ctrl.user.preference.zip" required ng-maxlength="5" ng-minlength="5">
        <div class="error-messages" ng-messages="preferences.zip.$error">
          <div ng-message="required">Please enter a zip code</div>
          <div ng-message="maxlength">Zip code should be 5 digits. Ex: 30309</div>
          <div ng-message="minlength">Zip code should be 5 digits. Ex: 30309</div>
        </div>
      </div>
    </div>
    <div>
      Age:
      <input type="radio" value="Baby" ng-model="$ctrl.user.preference.age">Baby
      <input type="radio" value="Young" ng-model="$ctrl.user.preference.age">Young
      <input type="radio" value="Adult" ng-model="$ctrl.user.preference.age">Adult
      <input type="radio" value="Senior" ng-model="$ctrl.user.preference.age">Senior
      <input type="radio" value="all" ng-model="$ctrl.user.preference.age">Any Age
    </div>
    <div>
      Size:
      <input type="radio" value="S" ng-model="$ctrl.user.preference.size">Small
      <input type="radio" value="M" ng-model="$ctrl.user.preference.size">Medium
      <input type="radio" value="L" ng-model="$ctrl.user.preference.size">Large
      <input type="radio" value="XL" ng-model="$ctrl.user.preference.size">X-Large
      <input type="radio" value="all" ng-model="$ctrl.user.preference.size">Any Size
    </div>
    <div>
      Sex:
      <input type="radio" value="M" ng-model="$ctrl.user.preference.sex">Male
      <input type="radio" value="F" ng-model="$ctrl.user.preference.sex">Female
      <input type="radio" value="all" ng-model="$ctrl.user.preference.sex">Either Sex
    </div>
    <div>
      <input type="submit" name="Submit Changes" ng-click="$ctrl.isEditingPreferences=false" ng-disabled="preferences.zip.$invalid">
    </div>
  </form>
  <button ng-click="$ctrl.isEditingPreferences=false">Nevermind</button>

</div>
