<h1>Your Account</h1>
{{$ctrl.user.email}}

<h4>Pet Search Preferences</h4>

<div ng-hide="$ctrl.isEditingPreferences">
  <button ng-click="$ctrl.isEditingPreferences=true">Edit</button>
  <p>
    Pet type:
    <span ng-show="$ctrl.user.preference.pet_type">{{$ctrl.user.preference.pet_type}}</span>
  </p>
  <p>Age:  {{$ctrl.user.preference.age}}</p>
  <p>Size:  {{$ctrl.user.preference.size}}</p>
  <p>
    Sex:
    <span ng-show="$ctrl.user.preference.sex">{{$ctrl.user.preference.sex}}</span>
    <span ng-hide="$ctrl.user.preference.sex">Any</span>
  </p>
</div>
<div ng-show="$ctrl.isEditingPreferences">
  <form ng-submit="$ctrl.updatePreference(preferenceEdits)">
    I am a __human __other<br>
    Looking for:
    Pet type: <input type="text" ng-model="$ctrl.user.preference.pet_type">
    <br>
    Age: <input type="text" ng-model="$ctrl.user.preference.age">
    <br>
    Size: <input type="text" ng-model="$ctrl.user.preference.size">
    <br>
    Sex: <input type="text" ng-model="$ctrl.user.preference.sex">
    <input type="submit">
    <button ng-click="$ctrl.isEditingPreferences=false">Nevermind</button>
  </form>
</div>
