<h3>A Warm Welcome From Adoptr</h3>
<h4>We just need a little more info to make sure we show you adoptable pets that are perfect for you</h4>


Pet Search Preferences:
<form ng-submit="$ctrl.updatePreferences($ctrl.user.preference)">
    <div>
      <p>I am a:</p>
      <input type="radio" value="human">Human
      <input type="radio" value="other">Other
    </div>

    <div>
    <p>Looking for:</p>
      <input type="radio" value="dog" ng-model="$ctrl.user.preference.pet_type">Dogs
      <input type="radio" value="cat" ng-model="$ctrl.user.preference.pet_type">Cats
      <input type="radio" value="all" ng-model="$ctrl.user.preference.pet_type">All Creatures
    </div>
    <div>
      <p>Near Zip Code:
        <input type="text" ng-model="$ctrl.user.preference.zip">
      </p>
    </div>
    <div>
      Age:
      <input type="radio" value="Baby" ng-model="$ctrl.user.preference.age">Baby
      <input type="radio" value="Young" ng-model="$ctrl.user.preference.age">Young
      <input type="radio" value="Adult" ng-model="$ctrl.user.preference.age">Adult
      <input type="radio" value="Senior" ng-model="$ctrl.user.preference.age">Senior
      <input type="radio" value="all" ng-model="$ctrl.user.preference.age">Any Age
    </div>
    <div>
      Size:
      <input type="radio" value="S" ng-model="$ctrl.user.preference.size">Small
      <input type="radio" value="M" ng-model="$ctrl.user.preference.size">Medium
      <input type="radio" value="L" ng-model="$ctrl.user.preference.size">Large
      <input type="radio" value="XL" ng-model="$ctrl.user.preference.size">X-Large
      <input type="radio" value="all" ng-model="$ctrl.user.preference.size">Any Size
    </div>
    <div>
      Sex:
      <input type="radio" value="M" ng-model="$ctrl.user.preference.sex">Male
      <input type="radio" value="F" ng-model="$ctrl.user.preference.sex">Female
      <input type="radio" value="all" ng-model="$ctrl.user.preference.sex">Either Sex
    </div>
    <div>
      <input type="submit" value="Start my pet search" ng-click="$ctrl.isEditingPreferences=false">
    </div>
  </form>
