<h1>{{$ctrl.pet.name}}</h1>
<div ng-show="$ctrl.isFavorite">
  <p>You favorited this pet on {{$ctrl.favorite.created_at | date}}</p>
  <p><a ng-click="$ctrl.deleteFavorite()">Remove From Favorites</a></p>
</div>
<div ng-hide="$ctrl.isFavorite">
  <a ng-click="$ctrl.addToFavorites()">Add To Favorites</a>
</div>
<img ng-src={{$ctrl.pet.photo}}>
<p>{{$ctrl.pet.description}}</p>
<p>Age: {{$ctrl.pet.age}}</p>
<p>Size: {{$ctrl.pet.size}}</p>
<p>Sex: {{$ctrl.pet.sex}}</p>

<button ng-click="$ctrl.showContact=true">Contact About Adoption</button>
<div ng-show="$ctrl.showContact">
  <p>Phone: {{$ctrl.pet.contact.phone}}</p>
  <p>Email: {{$ctrl.pet.contact.email}}</p>
  <p>City: {{$ctrl.pet.contact.city}}</p>
  <p>State: {{$ctrl.pet.contact.state}}</p>
  <p>Zip: {{$ctrl.pet.contact.zip}}</p>
  <a href="https://www.petfinder.com/petdetail/{{$ctrl.pet.petfinder_id}}">View on Petfinder</a>
</div>
