<!DOCTYPE html>
<html ng-app="AdoptrApp" ng-strict-di>
  <head>
    <title>Adoptr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ui-view></ui-view>
    <%= yield %>
    <footer>Powered by <a href="https://www.petfinder.com/">Petfinder.com</a> API</footer>
  </body>
</html>
