<!DOCTYPE html>
<html ng-app="AdoptrApp" ng-strict-di>
  <head>
    <title>Adoptr</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/864c28e643.js"></script>
  </head>

  <body>
    <ui-view></ui-view>
    <%= yield %>
  </body>
</html>
