<!DOCTYPE html>
<html ng-app="AdoptrApp">
  <head>
    <title>Adoptr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Adoptr</h1>
    <ui-view></ui-view>
    <%= yield %>
  </body>
</html>
